.categories
{
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.categoriesTop
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topButtons
{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
}

.topButtons .create
{
    background: var(--orange);
}

.topButtons .upload
{
    background: var(--text-secondary);
    color: var(--bg-tertiary);
}

.topButtons .download
{
    background: var(--button-hover-bg);
    color: var(--text-secondary);
}

.topButtons .download svg > path
{
    fill: #000;
}

.topButtons button
{
    font-weight: 300;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.topButtons button > svg
{
    width: 20px;
    height: 20px;
}